<footer class="bg-dark text-white pt-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h6><strong>Shop</strong></h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Men's Clothing</a></li>
                    <li><a href="#" class="text-white">Women's Clothing</a></li>
                    <li><a href="#" class="text-white">New Arrivals</a></li>
                    <li><a href="#" class="text-white">Best Sellers</a></li>
                    <li><a href="#" class="text-white">Accessories</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6><strong>Customer Service</strong></h6>
                <ul class="list-unstyled">
                    <li><a href="/shipping" class="text-white">Shipping Information</a></li>
                    <li><a href="/returns" class="text-white">Returns & Exchanges</a></li>
                    <li><a href="/size-guide" class="text-white">Size Guide</a></li>
                    <li><a href="/faqs" class="text-white">FAQs</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6><strong>About Us</strong></h6>
                <ul class="list-unstyled">
                    <li><a href="/our-story" class="text-white">Our Story</a></li>
                    <li><a href="/careers" class="text-white">Careers</a></li>
                    <li><a href="/sustainability" class="text-white">Sustainability</a></li>
                    <li><a href="/press" class="text-white">Press</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6><strong>Follow Us</strong></h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Instagram</a></li>
                    <li><a href="#" class="text-white">Facebook</a></li>
                    <li><a href="#" class="text-white">Twitter</a></li>
                    <li><a href="#" class="text-white">Pinterest</a></li>
                </ul>
            </div>
        </div>
        <hr class="bg-secondary">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2024 blcnwht Clothing Brand | All Rights Reserved</p>
                <p>123 Fashion St, Style City, Fashionland</p>
            </div>
            <div class="col-md-6 text-md-end">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/privacy-policy" class="text-white">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="/terms-of-use" class="text-white">Terms of Use</a></li>
                    <li class="list-inline-item"><a href="/sales-and-refunds" class="text-white">Sales and Refunds</a></li>
                    <li class="list-inline-item"><a href="/legal" class="text-white">Legal</a></li>
                    <li class="list-inline-item"><a href="/site-map" class="text-white">Site Map</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<link rel="stylesheet" href="/css/styles.css">