
<%- include('../partials/header') %>

<!-- Content -->
<div class="container my-5">
    <h1>Privacy Policy</h1>
    <p>At blcnwht, your privacy is of utmost importance to us. This Privacy Policy outlines how we collect, use, and protect your personal information when you visit our website or make a purchase.</p>

    <h2>Information We Collect</h2>
    <p>We collect personal information that you voluntarily provide to us when you register on our website, make a purchase, or subscribe to our newsletter. This includes your name, email address, mailing address, phone number, and payment information.</p>
    
    <h2>How We Use Your Information</h2>
    <p>Your personal information is used to process your orders, provide customer service, and send you promotional emails if you have opted in. We may also use your information to improve our website and enhance your shopping experience.</p>

    <h2>Data Sharing and Security</h2>
    <p>We do not sell or rent your personal information to third parties. We may share your data with trusted partners who assist us in operating our website, conducting our business, or servicing you, provided that these parties agree to keep this information confidential. We implement a variety of security measures to maintain the safety of your personal information.</p>

    <h2>Your Rights</h2>
    <p>You have the right to access, correct, or delete your personal information at any time. If you wish to unsubscribe from our mailing list or delete your account, you can do so by contacting us directly.</p>

    <h2>Changes to Our Privacy Policy</h2>
    <p>We may update this Privacy Policy from time to time. Any changes will be posted on this page, and if the changes are significant, we will provide a more prominent notice.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions or concerns about our Privacy Policy, please contact us at <a href="mailto:privacy@blcnwht.com">privacy@blcnwht.com</a>.</p>
</div>

<%- include('../partials/footer') %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">
<link rel="stylesheet" href="/css/styles.css">